<nav class='navbar navbar-light bg-light'>
    <a class='navbar-brand' href="/">
        <img src="/img/anne.jpg" height="40" width="40">
    </a>
    <a class='nav-link active bg-light text-dark' href="/cadastroPergunta">
        Cadastrar pergunta
    </a>
</nav>